/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  background: linear-gradient(to right, #ffcc66 40%, #e0a21f 40%);
}

header.circle h1 {
  display: flex;
  margin-left: 10px;
  text-align: center;
  flex-direction: row;
}

header.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e06f1f;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
}

header.circle img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.circle-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-top: 40px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e06f1f;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circle h3 {
  font-size: 24px;
  text-align: center;
}

.circle:hover {
  background-color: #e03e1f;
}

#contact {
  background-color: #e06f1f;
  color: #fff;
  padding: 20px;
}

#contact h2 {
  margin-bottom: 20px;
  border: 1px solid #333;
  padding: 10px;
}

#contact p {
  margin-bottom: 10px;
}

#contact ul {
  list-style: none;
  margin-top: 20px;
}

#contact li {
  margin-bottom: 10px;
}

#contact li:before {
  content: "\2022";
  margin-right: 5px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }

  header.circle img {
    width: 150px;
    height: 150px;
  }

  .circle-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }

  .circle h3 {
    font-size: 20px;
  }
}
