body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Section */
.header {
  background-color: #e03e1f;
  color: #ffffff;
  padding: 20px;
}

.header-content {
  margin-bottom: 20px;
}

.header h1,
.header h2 {
  margin: 0;
}

.header p {
  margin: 5px 0;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

.github-link img,
.linkedin-link img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

/* Hero Section */
.hero {
  background-color: #e06f1f;
  color: #9d2b16;
  padding: 40px;
  text-align: center;
}

.hero-content img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

/* Resume Section */
.resume-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  max-width: 1200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

.resume-section {
  margin-bottom: 40px;
  background-color: #e06f1f;
  color: #9d2b16;
  padding: 20px;
}

.resume-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
}

.education-list,
.experience-list,
.skills-list {
  list-style: none;
  padding: 0;
}

.education-list li,
.experience-list li,
.skills-list li {
  margin-bottom: 20px;
}

.references-list .reference {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.references-list .reference img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

/* Contact Section */
.contact-section form {
  margin-top: 40px;
}

.contact-section label {
  display: block;
  margin-bottom: 10px;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section input[type="checkbox"],
.contact-section textarea {
  margin-bottom: 10px;
  padding: 5px;
}

.contact-section input[type="submit"] {
  display: inline-block;
  background-color: #e03e1f;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.contact-section input[type="submit"]:hover {
  background-color: #9d2b16;
}

/* Footer Section */
.footer {
  background-color: #e03e1f;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footer-content .social-link img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .header-content {
    text-align: center;
  }

  .nav-bar {
    justify-content: center;
  }

  .nav-links li {
    margin-left: 10px;
  }

  .hero-content img {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .resume-container {
    padding: 20px;
  }

  .resume-section h3 {
    font-size: 20px;
  }
}
